*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;;
}
html, body{
    width: 100%;
    height: 100%;
}
main{
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
button{
    cursor: pointer;
}
/* container Game */
.container{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}
.clicker{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scors{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* logo clicker */
.logo{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.logo button{
    background-color: transparent;
    border: none;
}
.logo button img{
    width: 100px;
    filter: drop-shadow(0 0 3px rgb(237, 8, 8));
    transition: all .3s;

}
.logo button img:active{
    width: 90PX;
    transform: rotate(360deg);
}

/* burron level */
.level{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-left: 2px solid black;
}
.level button{
    padding: 7px 15px;
    border-radius: 15px 0;
    margin-left: 5px;
    filter: drop-shadow(0 0 3px rgb(237, 8, 8));
    border: transparent;
    transition: all .5s;

}
.level button:active{
    width: 80%;
    height: 11%;
    transform: rotate(30deg);
}
.level button:active[disabled]{
    transform: scaleX(-1);

}
.transpart{
    color: transparent;
}

/* button Reset */
.displayNone{

    display: none;
}
.reset{
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 1px solid #afaf00;
    padding: 5px 7px;
    border-radius: 0 13px;
    border-radius: 5x 5px;
    filter: drop-shadow(0 0 7px rgb(237, 210, 8));
    transition: all .3s;
}
.reset:hover{
    color: #af4600;
    border: 1px solid #af4600;
    filter: drop-shadow(0 0 3px rgb(237, 8, 8));
}

/********************** @media **********************/
/* ************************************************ */

@media screen and (max-width: 625px) {

    main{
        width: 95%;
    }
    .clicker{
        width: 50%;
    }
    .level{
        width: 40%;
    }
}